html {
   font-family: Roboto; 
}


.card {
    width: 300px;
    height: 400px;
    padding:20px;
    border-radius: 10px;
    margin: auto;
    margin-top: 200px;
    box-shadow: 4px 4px 4px 4px #e3baba;
}

h1 {
    margin-bottom: 0;
}

.small{
    font-size: small;
    color: #c57c7c;
    margin-top: 0;
}

#username ,#password {
    margin-bottom: 20px;
    width: 275px;
    padding: 10px;
    padding-left: 15px;
    border-radius: 5px;
    border-color: #e1adad;
    border: 2px solid #c57c7c;
}

#username:hover ,#password:hover {
    border-color: #443c3c;
}

.divider {
    text-align: center;
    color: #888888;
    font-size: 0.9em;
    margin: 1em 0;
    white-space: nowrap;
    position: relative;
}

.divider hr {
    display: inline-block;
    width: 40%;
    vertical-align: middle;
    border: none;
    height: 1px;
    background-color: #ccc;
    margin: 0;
}

#left {
    display: inline-block;
    width: 40%;
    vertical-align: middle;
    margin: 10px
}

#right {
    display: inline-block;
    width: 40%;
    vertical-align: middle;
    margin: 10px
}

#ro {
    color: #c57c7c;
}

.divider span {
    vertical-align: middle;
    color: #888888;
    font-size: 0.9em;
    margin: 0 0.5em;
}

.card a {
    text-decoration: none;
    color: #1e81b0;
    font-size: 15px;
}

a:hover {
    text-decoration: underline;
    background-color: #cce0f1;
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.submit {
    background-color: #1e81b0;
    color: white;  
    font-weight: bold;
    font-size: 15px;
    border-radius: 20px;
    width: 300px;
    height: 40px;
    border: none;
}

.submit:hover {
    background-color: #19485e;
    cursor: pointer;
}


 .social {
    background-color: white;
    border-radius: 20px;
    width: 300px;
    height: 40px;
    color: #5c4b4b;
 }

 .social:hover {
    cursor: pointer;
    color: #0d0a0a;
 }

footer {
    margin: 30px;
    text-align: center;
    font-size: 15px;
    margin-bottom: 100px;
}

 footer a {
    text-decoration: none;
    color: #7eaaf1;
 }