* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

.grid-container {
  display: grid;
  grid-template-areas:
    "icon header header"
    "sidenav main main"
    "sidenav footer footer";
  grid-template-columns: 1fr 4fr;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
  
}

.menu-icon {
  grid-area: icon;
  background-color: #402155;
  border-right: 1px solid #cefe20;

}

.header__search {
  display: inline-flex;
  width: 100%;
  background-color: #99bfa8;
  align-items: center;
  border-radius: 3px;
}

.in_search {
  border: none;
  background-color: #EAFFF2;
  width: 100%;
  font-size: 1em;
  border-radius: 2px;
  padding: 10px;
}

.in_search:hover {
  background-color: #d5d8db;
}

.in_search:focus {
  background-color: #EAFFF2;
  outline: none;
  border: none;
}

.header__search:hover {
  background-color: #c5cfcf;
  cursor:text;
}

.card:first-child img {
  width: 100%;
  height: 100%;
  margin-top: 30px;
  border-radius: 10px;
  box-shadow: 0px 8px 15px #00000033;
}

.header__avatar {
  display: flex;
  padding: 10px;
  margin-left: 10px;
}

.header {
  grid-area: header;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: #2c0546;
}

.sidenav {
  grid-area: sidenav;
  background-color: #402155;
  color: white;
  padding: 15px;
  min-width: 150px;
  border-right: 1px solid #cefe20;
}

.main {
  grid-area: main;
  padding: 15px;
  background-color: #edf1f5;
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 15px;
}

.main-header {
  display: flex;
  justify-content: space-between;
  border-radius: 3px;
  background-color: #fbfbfb;
  padding: 15px;
  font-size: 0.9em;
  color: #788695;
  height: 30vh;
  overflow: auto;
}

.main-overview {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.sidenav__list-item:first-child {
  color: #95a9dc;
}

.menu-icon img {
  min-width: 150px;
  height: 65px;
  padding: 5px;
  width: 250px;
  scale: 1.4;
}

.menu-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.overviewcard {
  background-color: #60bacdca;
  padding: 20px;
  text-align: center;
  border-radius: 5px;
  color: white;
  transition: transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
  
}

.overviewcard:hover{
  background-color: #5f9ea3;
  cursor: pointer;
  transform: scale(1.05);
}

.overviewcard:first-child {
  background-color: #53e8f3;
}

.main-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.card {
  background-color: #4B9FB0;
  padding: 30px;
  border-radius: 5px;
  text-align: center;
  color: white;
  transition: transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1), box-shadow 0.3s ease;
}

.main-header li {
  list-style-type:disc
}

.card:first-child {
  grid-column: span 2;
  grid-row: span 2;
  height: auto;
  width: 100%;
  margin-top: 70px;
  margin-bottom: 30px;
}

.footer {
  grid-area: footer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #402155;
  color: white;
  padding: 15px;
  font-size: 0.9em;
  border-top: 1px solid #cefe20;
}

li {
  list-style-type: none;
  padding: 10px;
}

.header img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}

.main-header__heading  h1{
  font-size: 1.5em;
  color: #788695;
  font-weight: 600;
}

.header img:hover {
  cursor: pointer;
  transform: scale(1.25);
}


.sidenav__list-item {
  margin: 45px 0;
  cursor: pointer;
  transition: transform 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);

}

.sidenav__list-item:hover {
  color: #dddddd;
  transform: scale(1.05);
  transition: transform 0.2s ease-out;
}

@keyframes card {
  0% {background-color: #69c2d4ca;}
  100% {background-color: #2e8394;}
}

.card:hover {
  background-color: #539ba0;
  cursor: pointer;
  transform: translateY(-1px) scale(1.02); 
  box-shadow: 0px 8px 15px #00000033; 
  animation: card 0.5s forwards;
}

.card:first-child:hover {
  background-color: #539ba0;
  cursor: pointer;
  transform: translateY(-5px) scale(1.01);
  box-shadow: 0px 8px 15px #00000033;
}

.card:nth-child(2), .card:nth-child(3) {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.card:nth-child(2) img, .card:nth-child(3) img {
  max-width: 100%;
  height: auto;
  margin-top: 30px;
  border-radius: 10px;
  box-shadow: 0px 8px 15px #00000033;
}



@media (max-width: 1300px) {
  .sidenav {
    padding: 10px;
    min-width: 100px; 
  }

  
  
  .sidenav__list-item {
    margin: 20px 0; 
    font-size: 0.9em;
  }

  .menu-icon img {
    width: 100px;
    height: 45px; 
  }

  .card:first-child img {
    width: 100%;
    height: auto;
    margin-top: 30px;
    border-radius: 10px;
    box-shadow: 0px 8px 15px #00000033;
  }

 

  .card:first-child {
    margin-top: 40px;
    margin-bottom: 40px;
  }

}

@media (max-width: 984px) {
  .grid-container {
    grid-template-areas:
      "header"
      "icon"
      "sidenav"
      "main"
      "footer";
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr auto auto;
    height: auto;
  }

  .header,
  .footer {
    text-align: center;
  }

  .sidenav {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    border: none;

  }


  .sidenav__list-item {
    margin: 15px 10px;
  }

  .main-overview {
    grid-template-columns: 1fr 1fr;
    gap: 5px;
  }

  .main-cards {
    margin-top: 20px;
    grid-template-columns: 1fr;
    gap: 5px;
  }
  
  .card:first-child {
    grid-column: span 1;
    grid-row: span 1;
    height: 700px;
  }

  .menu-icon {
    display: flex;
    justify-content: center;
    border: none;
  }

  .menu-icon img {
    width: 400px;
    height: 100px;
    
  }

  

  .card {
    grid-column: span 1;
    grid-row: span 1;
    height: 100px;
    margin: 10px;
  }

  .overviewcard:hover{
    background-color: #5cbac2;
    cursor: pointer;
    transform: scale(1.02);
    
  }

  .card:first-child {
    height: auto;
    margin: 10px;
  }

  .card:first-child img {
    max-width: 100%;
    height: auto;
    margin-top: 30px;
    border-radius: 10px;
    box-shadow: 0px 8px 15px #00000033;
    object-fit: cover;
  }

  .card:nth-child(2), .card:nth-child(3) {
    max-width: 100%;
    height: auto; 
  }

  .card:nth-child(2) img, .card:nth-child(3) img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    object-fit: cover; 
  }

  .sidenav__list-item {
    display: flex;
    justify-content: center;
  }

  .menu-icon img {
    
    scale: 1;
    
  }
  
}


